body {
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(13, 0, 73));
}

h1, h2, h3, h4, p, table, th, td {
    font-family: 'Merriweather Sans', sans-serif;
}

table, th, td {
    border: none;
}

hr {
    border: 1px solid black;
}

.rank {
    text-decoration: underline;
}

a:visited {
    color: blue;
}

a:hover {
    color: green;
}

a:active {
    color: orange;
}

.container {
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255),rgb(163, 255, 160));
    border-radius: 10px;
    padding: 10px;
}
